{% extends "_layouts/cp" %}

{% set title = "Asset Count"|t %}

{% set assets = craft.assetCount.assets %}


{% block content %}

    {% if assets.total %}
        <table class="data fullwidth">
            <thead>
                <tr>
                    <th>{{ "Asset"|t }}</th>
                    <th>{{ "URL"|t }}</th>
                    <th>{{ "Count"|t }}</th>
                    <th>{{ "First Count"|t }}</th>
                    <th>{{ "Last Count"|t }}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for asset in assets %}
                {% set count = craft.assetCount.count(asset.id) %}
                <tr>
                    <td>
                        <a href="">
                            {{ asset.title }}
                        </a>
                    </td>
                    <td>
                        {% if asset.url %}
                            <a href="{{ asset.url }}" class="go" target="_blank">
                                {{ asset.uri }}
                            </a>
                        {% endif %}
                    </td>
                    <td>
                        {{ count }}
                    </td>
                    <td>
                        {{ count.dateCreated }}
                    </td>
                    <td>
                        {{ count.dateUpdated }}
                    </td>
                    <td>
                        <a href="{{ actionUrl('assetCount/reset', { assetId: asset.id }) }}" class="delete icon"></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        {{ "No assets counted"|t }}
    {% endif %}

{% endblock %}
