{% extends 'verbb-base/_layouts/settings' %}

{% import '_includes/forms' as forms %}
{% import 'verbb-base/_macros' as macros %}

{% requireAdmin %}

{% do view.registerAssetBundle('verbb\\assetcount\\assetbundles\\AssetCountAsset') %}

{% set crumbs = [
    { label: 'Settings' | t('app'), url: url('settings') },
    { label: 'Plugins' | t('app'), url: url('settings/plugins') },
    { label: 'Asset Count' | t('asset-count'), url: url('asset-count/settings') },
] | merge(crumbs ?? []) %}

{% set pageTabs = {
    general: { title: 'General Settings' | t('asset-count'), url: url('asset-count/settings') },
} %}

{% set pageTitle = pageTitle ?? false %}
{% if title is not defined and pageTitle %}
    {% set title = pageTitle %}
{% endif %}

{% block settingsMeta %}
    {{ hiddenInput('pluginHandle', 'asset-count') }}
{% endblock %}
